<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
<!--
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
-->
  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}

  You can contact me via:

<!--  
  {% if site.email != empty %}
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}">Email</a> /
  {% endif %}
-->
  {% if site.github_username != empty %}
  <a href="https://github.com/uni2u" title="GithubID: {{site.github_username}}">Github</a> /
  {% endif %}
  {% if site.facebook_username != empty %}
  <a href="https://facebook.com/uni2u" title="FacebookID: {{site.facebook_username}}">Facebook</a> /
  {% endif %}
  {% if site.slideshare_username != empty %}
  <a href="https://www.slideshare.net/uni2u" title="SlideshareID: {{site.slideshare_username}}">Slideshare</a> /
  {% endif %}
<!--
  {% if site.twitter_username != empty %}
  <a href="https://twitter.com/{{site.twitter_username}}" title="TwitterID: {{site.twitter_username}}">Twitter</a>
  {% endif %}
-->

  {% endif %}

</div>
